
.admin-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.admin-list li {
  margin-bottom: 10px;
}

.admin-list button, .admin-list a {
  text-decoration: none;
  font-size: 1rem;
  color: #0d6efd;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
}

.admin-list button:hover, .admin-list a:hover {
  text-decoration: underline;
  color: #0a58ca;
}

