<div class="order-container">
    <!-- Delivery Address Section -->
    <div class="section">
      <h3>Delivery Address</h3>
      <div class="content">
        <p><strong>{{ deliveryAddress.name }}</strong></p>
        <p>{{ deliveryAddress.addressLine1 }}</p>
        <p>{{ deliveryAddress.city }}</p>
        <p>{{ deliveryAddress.state }}, {{ deliveryAddress.postalCode }}</p>
        
      </div>
    </div>
  
    <!-- Payment Method Section -->
    <div class="section">
      <h3>Payment Method</h3>
      <div class="content">
        <p>{{ paymentMethod.cash }}</p>
        <p>{{ paymentMethod.credit }}</p>
        <p>{{ paymentMethod.Onlinepayments}}</p>
        
        <div>
          <label for="promo-code">Add a gift card or promotion code:</label>
          <input type="text" id="promo-code" placeholder="Enter Code" />
          <button>Apply</button>
        </div>
      </div>
    </div>
  
    <!-- Order Summary Section -->
    <div class="section">
      <h3>Order Summary</h3>
      <div class="content">
        <p>Items: ₹{{ orderSummary.items }}</p>
        <p>Delivery: ₹{{ orderSummary.deliveryFee }}</p>
        <p>Promotion Applied: -₹{{ orderSummary.promotionApplied }}</p>
        <hr />
       <p class="savings">Your Savings: ₹{{ orderSummary.savings }} ({{ orderSummary.discountPercent }}%)</p>
        <p><strong>Order Total: ₹{{ totalAmount }}</strong></p>

      </div>
    </div>
  
    <!-- Place Order Section -->
    <div class="section">
      <button class="place-order-btn" (click)="placeOrder()">Place Your Order</button>
    </div>
  </div>
  

