<div class="container">
  <h2>Menu List</h2>

  <!-- Display Menu Items -->
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price(&#8377;)</th>
        <th>Category</th>
        <th>Item availability</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of menuItems; let i = index">
        <td>
          <input *ngIf="editMode[i]" [(ngModel)]="item.name" type="text" placeholder="Enter name" />
          <span *ngIf="!editMode[i]">{{ item.name }}</span>
        </td>
        <td>
          <input *ngIf="editMode[i]" [(ngModel)]="item.description" type="text" placeholder="Enter description" />
          <span *ngIf="!editMode[i]">{{ item.description }}</span>
        </td>
        <td>
          <input *ngIf="editMode[i]" [(ngModel)]="item.price" type="number" placeholder="Enter price" />
          <span *ngIf="!editMode[i]">&#8377;{{ item.price }}</span>
        </td>
        <td>
          <select *ngIf="editMode[i]" [(ngModel)]="item.category">
            <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
          </select>
          <span *ngIf="!editMode[i]">{{ item.category }}</span>
        </td>
        <td>
          <select *ngIf="editMode[i]" [(ngModel)]="item.availability">
            <option [value]="true">Available</option>
            <option [value]="false">Unavailable</option>
          </select>
          <span *ngIf="!editMode[i]">{{ item.availability ? 'Available' : 'Unavailable' }}</span>
        </td>
        <td>
          <img [src]="item.imageUrl" alt="{{ item.name }}" width="150" height="90" />
        </td>
        <td>
          <button *ngIf="!editMode[i]" (click)="toggleEdit(i)">Edit</button>
          <button *ngIf="editMode[i]" (click)="saveMenuItem(i)">Save</button>
          <button *ngIf="editMode[i]" (click)="toggleEdit(i)">Cancel</button>
          <button (click)="deleteMenuItem(item.id, i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<footer>
  &copy; 2024 Restaurant Management System. All rights reserved.
</footer>
