.nav-link {
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: bold;
}

.nav-link.active {
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
}

.nav-link:hover {
  color: #fff;
  background-color: #0056b3;
  border-radius: 4px;
}

.content {
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif; 
}


.nav-link {
  cursor: pointer;  /* Ensure links also show hand cursor */
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Optional: Light background on hover */
  border-radius: 5px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.body{
  height: 87vh;
  width: 50%;
  margin-left: 5%;
  font-family: 'Arial', sans-serif; 
  font-size: 15px;

}  


.update-container {
  background-color: #2e2d2d85;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  padding: 10px;
  width: 100%;
  max-width: 300px; /* Adjust max width for responsiveness */
  margin: 20px auto; /* Center horizontally and add spacing */
  text-align: left; /* Align text to the left */
  font-family: 'Arial', sans-serif;
  
}

/* Form Heading */
.update-container h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 10px;
  color: #ffffff; 
  font-size: 1.8rem;
  cursor: pointer;
}
