.nav-link {
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: bold;
}

.nav-link.active {
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
}

.nav-link:hover {
  color: #fff;
  background-color: #0056b3;
  border-radius: 4px;
}

.content {
  background-color: #f8f9fa;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




