

<div class="  d-flex">
  <!-- Vertical Navigation Bar -->
  <nav class="nav flex-column bg-light p-1" style=" width: 200px; min-height: 100vh;border-right: 1px solid #ddd; ">
    <a class="nav-link text-dark" routerLink="userWelcome" routerLinkActive="active">dashboard</a>
    <a class="nav-link text-dark" routerLink="updateUser" routerLinkActive="active">Update User</a>
    <a class="nav-link text-dark" routerLink="deleteUser" routerLinkActive="active">Delete User</a>
      <button (click)="logout()" class="btn btn-outline-danger ">🚪 Logout</button>
  </nav>

  <!-- Dynamic Content Area -->
  <div class="content p-3 flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>

