.container {
   max-width: 600px;
   margin: auto;
 }
 
 h2 {
   font-size: 2rem;
   color: #343a40;
 }
 
 .card {
   border-radius: 10px;
 }
 
 button:disabled {
   background-color: #ccc;
   border-color: #ccc;
   cursor: not-allowed;
 }
 
 