
/* General Styles */
/* General Styles */
.body {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
   background-image: url('/assets/CozyDine2v.jpg');  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  height: 85vh;
  width: 68%;
  border-radius: 15px;
  padding: 0%;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.793);
  overflow: hidden;
}


/* Left Section: Login Form */
.login-form {
  /* background-color: #007BFF; */
  width: 30vw;
  border-radius: 15px;
 padding: 20px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.242);
  overflow: hidden;

}
.login-section {
  flex: 1;
  /* background: #f10a0a36; */
  background: rgba(255, 255, 255, 0.9);
  /* background: linear-gradient(135deg, #d310109a, #6292c2); */
  padding: 20px;
  display: flex;

  flex-direction: column;
  justify-content: center;
 
}

.login-section h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #2c3e50;
}

.login-section h2 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
}

.login-section p {
  font-size: 14px;
  color: #888;
  margin-bottom: 20px;
}

.login-section form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-section label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.login-section input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-section .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin-top: 10px;
}

.login-section .options a {
  color: #007BFF;
  text-decoration: none;
}

.login-section button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
}

.login-section button:hover {
  background-color: #218838;
}

.login-section p a {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

/* Right Section: Image */
.image-section {
  flex: 1;
  background: #f5f5f5;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


