<!-- <div class="paradox1">
  <div class="background-image"></div> 
  <div class="content">
    <h2>Our Vision</h2>
    <p>&nbsp; &nbsp;Crafting unforgettable dining experiences, one meal at a time.</p>
  </div>
</div> -->

<br>
<br>
  <div class="parallax-container">
    <!-- Parallax Background -->
    <div class="parallax-background"></div>
  
    <!-- Content Container -->
    <div class="container content-container">
      <div class="row justify-content-center">
        <!-- Main 8-column grid container -->
        <div class="col-lg-8">
          
        </div>
      </div>
    </div>
  
    <!-- Blog Overlay -->
    <div class="blog-overlay">
      <div class="blog-content">
        <p>At Cozi Restaurent, we believe that food is more than just nourishment—it's a way to bring people together, share stories, and celebrate life.</p>
      </div>
    </div>
  </div>
  
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 mb-5" *ngFor="let image of images; let i = index">
        <div class="image-container" (mouseenter)="onHover(i)" (mouseleave)="onLeave(i)">
          <!-- Rotating Image -->
          <img src="{{ image.src }}" alt="Image" class="img-fluid">
          
          <!-- Sliding Down Text -->
          <div class="image-text" [class.visible]="image.showText">
            {{ image.text }}
          </div>
        </div>
      </div>
    </div>
  </div>
  