<div>
  <div class="container">
    <img
      src="/TheCozyTableRestaurant/src/150e15ca-6b32-42cc-b558-2e0778605358.svg"
      alt="img"
    />
    <p class="text">Cozy Table</p>
    <nav class="header-menu">
      <div class="header-menu-item selected">
        Menu Item 1
        <div class="indicator"></div>
      </div>
      <div class="header-menu-item">Menu Item 2</div>
      <div class="header-menu-item">Menu Item 3</div>
    </nav>
    <button class="button">Help</button>
  </div>
</div>
