
.body{
  height: 70vh;
  width: 70%;
  margin-left: 20%;
  font-family: 'Arial', sans-serif; 
} 
.card {
  background-color: rgba(128, 0, 0, 0.442); 
  border: none; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  color: #ffffff; 
}
button:hover {
  background-color: #0c79df; 
}

button:disabled {
  background-color: #f01919; 
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .card {
    margin: 20px; 
  }
}
