body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4e1d2; /* Warm beige background */
  font-family: "Poppins", sans-serif;
}

.container {
  text-align: center;
}

/* Icon Styling */
.icon {
  margin-bottom: 20px;
}

/* Heading */
h1 {
  line-height: 1.2;
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background: -webkit-linear-gradient(
    right,
    #56d8e4,
    #9f01ea,
    #56d8e4,
    #9f01ea
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Paragraph */
p {
  font-size: 1.2em;
  color: #5a3825; /* Dark brown */
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1em;
  color: white;
  background: linear-gradient(90deg, #ff0080, #00bfff);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.button:hover {
  background: linear-gradient(90deg, #00bfff, #ff0080);
}
