<app-admin-welcome></app-admin-welcome>

<div class="card shadow-sm">
  <div class="card-body text-center">
    <div class="bg-primary p-2">
      <h3> 🍽️ <b> Menu Management </b></h3>
    </div>
    <ul class="admin-list">
      <button (click)="navigateTo('view-orders')" class="btn btn-warning m-2">View Orders</button>
      <button (click)="navigateTo('add-menu-item')" class="btn btn-danger m-2">Add Item</button>
      <button (click)="navigateTo('delete-menu')" class="btn btn-info m-2">Delete Item</button>
    </ul>
  </div>
</div>

<!-- Router Outlet for Child Components -->
<div class="mt-4">
  <router-outlet></router-outlet>
</div>


  <!-- <li class="nav-item">
        <a routerLink="/admindetails/MenuManagement" routerLinkActive="active" class="nav-link">Menu Management
        </a>
        </li> -->
         <!-- <li class="nav-item">
        <a routerLink="/admindetails/ReservationManagement" routerLinkActive="active" class="nav-link">Reservations
        </a>
        </li> -->
        <!-- <li class="nav-item">
          <a routerLink="/admindetails/feedback" routerLinkActive="active" class="nav-link">feedback
             <div class="col-md-6">
               <div class="card shadow-sm">
                 <div class="card-body text-center">
                   <div class="bg-danger p-3">
                   <h5>📊 Reports</h5></div>
                   <ul class="admin-list">
                     <li><button (click)="navigateTo('daily-reports')" class="btn btn-link">Daily Reports</button></li>
                     <li><button (click)="navigateTo('weekly-reports')" class="btn btn-link">Weekly Reports</button></li>
                     <li><button (click)="navigateTo('monthly-reports')" class="btn btn-link">Monthly Reports</button></li>
                   </ul>
                 </div>
               </div>
             </div> 
          </a>
        </li>  -->
      
