<div class="main container">
  <div class="form-container">
    <h2 class="text">We'd Love to Hear From You!</h2>
    <form #feedbackForm="ngForm" novalidate>
      <div class="inline form-row">
        <div class="input-data">
          <input
            class="in-data"
            type="text"
            id="name"
            [(ngModel)]="userObj.name"
            name="name"
            #name="ngModel"
            minlength="3"
            required
          />
          <div *ngIf="name.invalid && name.touched" class="error">
            Name is required.
          </div>
          <div class="underline"></div>
          <label for="">Enter your name</label>
        </div>
        <div class="input-data">
          <input
            class="in-data"
            type="email"
            id="email"
            [(ngModel)]="userObj.email"
            name="email"
            required
            #email="ngModel"
          />
          <div *ngIf="email.invalid && email.touched" class="error">
            Valid email is required.
          </div>
          <div class="underline"></div>
          <label for="">Enter your email</label>
        </div>

        <div class="input-data">
          <input
            class="in-data"
            type="tel"
            id="mobile"
            [(ngModel)]="userObj.mobile"
            name="mobile"
            pattern="[0-9]{10}"
            required
            #mobile="ngModel"
          />
          <div *ngIf="mobile.invalid && mobile.touched" class="error">
            Mobile number is required (min 10 digits).
          </div>
          <div class="underline"></div>
          <label for="">Enter Mobile number</label>
        </div>
      </div>

      <textarea
        id="comments"
        required
        name="feedback"
        [(ngModel)]="userObj.feedback"
        rows="5"
        minlength="10"
        placeholder="Tell us about your experience..."
        #feedback="ngModel"
      ></textarea>
      <div *ngIf="feedback.invalid && feedback.touched" class="error">
        Feedback is required (min 10 characters).
      </div>
      <div class="food-container">
        <div class="slider">
          <div class="first-slider">
            <div>
              <label>Food Quality</label>
            </div>
            <div>
              <mat-slider min="1" max="5" step="0.5" class="small-slider">
                <input
                  matSliderThumb
                  matSliderThumb
                  [(ngModel)]="userObj.foodQuality"
                  name="foodQuality"
                  value="1.5"
                />
              </mat-slider>
            </div>
          </div>
          <div class="first-slider-2">
            <div>
              <label>Value for money</label>
            </div>
            <div>
              <mat-slider min="1" max="5" step="0.5" class="small-slider">
                <input
                  matSliderThumb
                  value="1.5"
                  matSliderThumb
                  [(ngModel)]="userObj.valueForMoney"
                  name="valueForMoney"
                />
              </mat-slider>
            </div>
          </div>
        </div>

        <div class="rateing">
          <div class="stars">
            <label>Rating</label>
            <app-star-rateing
              [maxRating]="5"
              [color]="'#9f01ea'"
              [size]="32"
              (onSetRating)="userObj.rating = $event"
            ></app-star-rateing>
          </div>
          <div class="date">
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="Choose a date"
                [(ngModel)]="selectedDate"
                name="selectedDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="btn-container">
        <button
          class="btn btn--green"
          type="submit"
          (click)="onSaveUser(feedbackForm)"
        >
          Submit Feedback
        </button>
      </div>
    </form>
  </div>
</div>
