.review-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: linear-gradient(135deg, #f5efff, #ffbf00);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column-reverse;
}

.review-card {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.review-card:last-child {
  border-bottom: none;
}

.review-card p {
  margin: 5px 0;
}

.star {
  font-size: 20px;
  color: #ddd;
  margin-right: 2px;
}

.star.filled {
  color: #f39c12;
}
.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
}

.review-head {
  display: flex;
  flex-basis: auto;
}

.review-head p {
  align-self: center;
  padding-left: 10px;
}

.review-date {
  padding-left: 50px;
}
.review-container:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
  background: linear-gradient(90deg, #56d8e4, #9f01ea);
  border: none;
  margin: 10px;
  border-radius: 8px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transitions */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 250%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-45deg);
  transition: left 0.4s ease;
}

.button:hover::before {
  left: 100%;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
