.review-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.review-card {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.review-card:last-child {
  border-bottom: none;
}

.review-card p {
  margin: 5px 0;
}

.star {
  font-size: 20px;
  color: #ddd; /* Default color for unfilled stars */
  margin-right: 2px;
}

.star.filled {
  color: #f39c12; /* Color for filled stars */
}
.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
}

.review-head {
  display: flex;
  flex-basis: auto;
}

.review-head p {
  align-self: center;
  padding-left: 10px;
}

.review-date {
  padding-left: 50px;
}
