body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.icon {
  margin-bottom: 20px;
}

h1 {
  line-height: 1.2;
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background: -webkit-linear-gradient(
    right,
    #56d8e4,
    #9f01ea,
    #56d8e4,
    #9f01ea
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-size: 1.2em;
  color: #666;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1em;
  color: white;
  background: linear-gradient(90deg, #ff0080, #00bfff);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.button:hover {
  background: linear-gradient(90deg, #00bfff, #ff0080);
}
