<!-- <header class="hero-header"> -->
  <div class="header-container">
    <div class="logo">
      <a routerLink="/Home">
        <img src="assets/CoziLife.png" alt="Cozy Restaurant" />
      </a>
      <a routerLink="/Home">
        <h2 class="logo-title"><b>Cozy Table</b></h2>
      </a>
    </div>

    <nav class="navigation">
      <ul>
        <li><a routerLink="/Home">Home</a></li>
        <!-- <li *ngIf="isLoggedIn"><a routerLink="/homeCart">Menu</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/reservation">Reservation</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/cart">Cart</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/feedback">Feedback</a></li> -->
        <li><a routerLink="/aboutus">About Us</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
        <li *ngIf="isLoggedIn" class="logout-btn" (click)="logout()">Logout</li>
      </ul>
    </nav>

    
  </div> 

 
