body {
  background: #f5efff;
}

.page-title {
  line-height: 1.2;
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background: -webkit-linear-gradient(
    right,
    #56d8e4 20%,
    /* Start with light blue */ #9f01ea 40%,
    /* Transition to purple */ #56d8e4 60%,
    /* Light blue in the middle */ #9f01ea 80%,
    /* Transition back to purple */ #56d8e4 100% /* End with light blue */
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 5px;
  justify-items: center;
  gap: 50px;
  align-items: center;
  margin-top: 30px;
}

.left-column,
.right-column {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

mat-card {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 650px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

mat-card h2 {
  color: #736f6f;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

canvas {
  max-width: 100%;
  height: 300px;
  width: auto;
  border-radius: 5px;
}

.reply-page {
  margin-top: 300px;
}
