.menu-category-container {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.filter-select,
.search-input,
.price-filter input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.price-filter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.warning {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.menu-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  border-radius: 8px;
  /* overflow: hidden; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  padding: 0;
}

.menu-item:hover {
  transform: translateY(-5px);
}

.menu-item-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

.menu-item-details {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Space between title and description */
}

.menu-item-details h2 {
  font-size: 18px;
  color: #333;
  margin: 0 0 10px;
}

.menu-item-details p {
  margin: 0;
  color: #161212;
}

.menu-item-price {
  color: #ff5722;
  font-weight: bold;
  margin-top: 10px;
}

/* .add-to-cart-button {
  margin-top: 12px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  align-self: center;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
} */
button{
  border: none;

}
.cart-icon {
  font-size: 24px;
  color: #f3b20e;
  cursor: pointer;
}

.cart-icon:hover {
  color: #e8b60f;
}

 .rating-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  color: #FFD700; /* Gold color for the star */
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  
  z-index: 1;
}

.star-icon {
  font-size: 18px;
  color: #FFD700; 
  margin-left: 5px;
}

.rating-number {
  color: #fff; 
  font-size: 1rem;
}
