<!-- <app-header></app-header> -->
<br>
<br>
<br>
<div class="container mt-4">
    <div class="row justify-content-center">
      <!-- 10-grid column container -->
      <div class="col-lg-10">
        <!-- Image with text overlay -->
        <div class="image-container">
          <img src="assets/Background.jpg" alt="About Us Background" class="img-fluid">
          <div class="text-overlay">
            <h1>About Us</h1>
            <p>
              We are dedicated to providing the finest experiences, combining exceptional service with passion and creativity.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-section">
    <div class="content">
      <h2>Our Story</h2>
      <p>Welcome to Cozi Table!Experience the passion and craft behind every dish.</p>
    </div>
  </div>


  <div class="container mt-5">
    <div class="row justify-content-center">
      <!-- Chef 1 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="chef-card text-center">
          <img src="assets/ChefPankaja.jpg" alt="Chef Pankaja" class="img-fluid chef-image">
          <h5 class="mt-3 chef-name">Chef Pankaja Bhadouria</h5>
          <div class="chef-details">
            <p>Chef Pankaja collaborated with our restaurant in 2021, bringing innovative fusion cuisines to the menu.</p>
          </div>
        </div>
      </div>
      <!-- Chef 2 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="chef-card text-center">
          <img src="assets/SanjeevKapoor.avif" alt="Chef Sanjeev Kapoor" class="img-fluid chef-image sanjeev">
          <h5 class="mt-3 chef-name">Chef Sanjeev Kapoor</h5>
          <div class="chef-details">
            <p>Chef Sanjeev Kapoor joined us in 2020, inspiring our culinary team with his iconic recipes and expertise.</p>
          </div>
        </div>
      </div>
      <!-- Chef 3 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="chef-card text-center">
          <img src="assets/VikasKhanna.jpg" alt="Chef Vikas Khanna" class="img-fluid chef-image">
          <h5 class="mt-3 chef-name">Chef Vikas Khanna</h5>
          <div class="chef-details">
            <p>Chef Vikas Khanna enriched our dining experience with his artistic approach to gourmet cooking in 2019.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <h2 class="text-center mb-4 hover-zoom">Our Live Location</h2>
        <div id="map" class="map-container hover-zoom" style="height: 400px;"></div>
      </div>
    </div>
  </div>
  
  <br>
 <br>
 <app-footer></app-footer>
  