<body>
  <div class="page-title">FEEDBACK REPORT</div>
  <div class="chart-container">
    <div class="left-column">
      <mat-card>
        <h2>FOOD QUALITY</h2>
        <canvas id="foodQualityChart"></canvas>
      </mat-card>
    </div>

    <div class="right-column">
      <mat-card>
        <h2>VALUE FOR MONEY</h2>
        <canvas id="valueForMoneyChart"></canvas>
      </mat-card>
    </div>

    <div class="left-column">
      <mat-card>
        <h2>OVERALL RATINGS</h2>
        <canvas id="feedbackChart"></canvas>
      </mat-card>
    </div>
    <div class="right-column">
      <mat-card>
        <h2>SALES OUTCOME</h2>
        <canvas id="salesBarChart"></canvas>
      </mat-card>
    </div>
  </div>
</body>
<div class="reply-page">
  <app-reply-page></app-reply-page>
</div>
