/* body {
  background: #f5efff; 
} */

/* .page-title {
  line-height: 1.2;
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background: -webkit-linear-gradient(
    right,
    #56d8e4 20%,
    #9f01ea 40%,
    #56d8e4 60%,
    #9f01ea 80%,
    #56d8e4 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  padding-top: 20px;
} */

.chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 30px;
  row-gap: 50px;
  justify-items: center;
  align-items: start;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background: #fff3e0; /* Soft orange background */
}

.left-column,
.right-column {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #fff5e4, #fadadd); /* Subtle brown-orange gradient */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px); /* Slight upward movement on hover */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); /* Increases the shadow for a pop-out effect */
}

canvas {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Media Queries */
@media (max-width: 768px) {
  .chart-container {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  mat-card {
    max-width: 90%;
    margin: 10px auto;
  }
}
